#DivInputCadastro {
    display: flex;
    flex-direction: column;
}
#DivButtonCadastro{
    display: flex;
    
}
.flexNomeDescricao{
    display: flex;
    flex-direction: column;
}
.flexPagamentoPreco{
    display: flex;        
    align-items: center;
}

.inputDadosProduto{
    margin: 10px auto;
    width: 15vw;
    height: 3vh;
}
.inputNomeDescricao{
    margin: 10px auto;    
    height: 3vh;
    width: 20vw;
}
button{
    background-color: #449694;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1.5em;
    color: #FFFCEF;
    width: 15vw;
    height: 8vh;
}